OPENAI_API_KEY=sk-
DEEPSEEK_API_KEY=sxxxx
# gpu3
WANDB_API_KEY=local-xxx
# lgr
WANDB_BASE_URL=http://192.168.100.8:3005
CLAUDE_API_KEY=sk-ant-a
TRAIN_NAME=queryagent03
# 改成SFT微调过的模型， ART_MODEL=qwen3-4b-sft
ART_MODEL=unsloth/Qwen3-4B-Instruct-2507
# 项目名称，art的训练结果会保存到.art/ART_PROJECT 这个目录下
ART_PROJECT=query-training
NUM_EPOCHS=2
# 最大训练步数
MAX_STEPS=200
# 是否使用ruler模型评判奖励
USE_RULER=true
RULER_MODEL=openai/deepseek-chat
RULER_API_KEY=sk-xxxxxx
RULER_API_BASE=https://api.deepseek.com/v1
MAX_SEQ_LEN=8192

#model_test.py使用的测试问题
TEST_QUESTION="现在的日期与时间分别是多少"